body{
				/*background-image: url("");*/
				background-repeat:no-repeat ;
				background-size: cover;
				color: palevioletred;
			}
#codeVeri{
				background-color: #22cc77;
				font-size: 20px;
			}
td{
	height: 40px;
}