{% extends 'base.html' %}
{% block title %}
    <li><a href="/student/c_time/" id="a_leader_event" style="color: #1e242a;font-weight: bold;background-color: #66d9ef">近期要闻</a></li>
{% endblock title %}

{% block right %}
    <ul>
            {% for rec in recent %}
            <li>
                <a href="/post/{{ rec.id }}" target="_blank">{{ rec.created|date:'Y年m月d日' }}</a>
                &emsp;&emsp;<a href="/post/{{ rec.id }}" target="_blank">{{ rec.title }}</a>
            </li>
            {% endfor %}
        </ul>
{% endblock right %}