{% extends 'base.html' %}
{% block title %}
    <li><a href="/student/c_simply/" id="a_leader_event" style="color: #1e242a;font-weight: bold;background-color: #66d9ef">简要分类</a></li>
    <li><a href="/student/c_time/" id="a_leader_event">时间分类</a></li>
{% endblock title %}

{% block right %}
    <ul style="color: #e32d40">
       {% for cpt in c_post %}
       <li>
       {{ forloop.counter }}
       <a href="/student/post/{{ cpt.id }}" style="font-weight: bold;font-size: 20px;color: #cb2027">{{ cpt.title }}</a>&emsp;&emsp;
       <a href="/student/post/{{ cpt.id }}">{{ cpt.desc }}</a>
       </li>
       {% endfor %}
    </ul>
{% endblock right %}


