{% extends 'base.html' %}
{% block title %}
    <li><a href="{% url 'course' %}" id="a_leader_txt" >课程信息</a></li>
{% endblock %}

{% block right %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style type="text/css">
            .selectK{
                margin-top: 20px;
                margin-left: 30px;
            }
            #li1{
                float: left;
                margin-right: 10px;
                font-size: 16px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <ul class="selectK">
            <li ><a href="{% url 'addCourse' %}"  id="li1"><input type="button" value="添加"></a></li>
            <li ><a href="{% url 'operCourse' %}"  id="li1"><input type="button" value="查询"></a></li>
            <li><a href="{% url 'showCourse' %}" id="li1"><input type="button" value="展示"></a></li>
        </ul>
    </body>
    </html>
{% endblock %}
