{% extends 'base.html' %}

{% block title %}
    <li><a href="/student/gradecx/">成绩查询</a></li>
    <li><a href="/student/gradelr/" style="background-color: skyblue">成绩录入</a></li>
{% endblock %}

{% block right %}

    <form action="/student/gradelr/" method="post" style="margin-top: 20px">
        {% csrf_token %}
        <table border="1px"cellpadding="9px"cellspacing="9px" align="center"
               style="font-size: 20px;font-family: 仿宋;text-align: center;width: 50%;height: 30px">
            <caption style="font-size: 30px;font-weight: bold" align="center">成绩录入表</caption>
            <tr>
                <td >学生姓名</td>
                <td >班级名称</td>
                <td >课程名称</td>
                <td >成绩</td>
                <td >操作</td>
            </tr>
            <tr>
                <td style="text-align: center">

                    <select name="studentname" id="studentname" onchange="test1(this.value)" style="text-align: center">
                        <option value="-1">-请 选 择 姓 名-</option>
                        {% for stu in stus %}
                            <option style="width: 100px" value="{{ stu.studentname }}">{{ stu.studentname }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="clazzname" id="clazzname" style="width: 200px">
                        <option value="-1">-请 选 择 班 级-</option>
                        <option value="{{ clazz.clazzname }}">{{ clazz.clazzname }}</option>

                    </select>
                </td>

                <td>
                    <select name="coursename" id="coursename">
                        <option value="-1">-请 选 择 课 程-</option>
                        {% for cour in courseList %}
                            <option value="{{ cour.coursename }}">{{ cour.coursename }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="text" name="grade"></td>
                <td><input type="submit" value="提交"></td>
            </tr>

        </table>

    </form>

{% endblock %}
