{% extends 'base.html' %}

{% block title %}
    <li><a href="/student/gradecx/" style="background-color: skyblue">成绩查询</a></li>
    <li><a href="/student/gradelr/">成绩录入</a></li>
{% endblock %}

{% block right %}
    <form action="/student/gradecx/" method="post">
        {% csrf_token %}
        <p align="center" style="margin-top: 20px">请输入查询条件：
            <select name="tiaojian">
                <option>学生姓名</option>
                <option>课程名称</option>
                <option>班级名称</option>
            </select>
            <input type="text" name="content">
            <input type="submit" value="查询">
        </p>
        <table border="1px" cellpadding="9" cellspacing="0" width="50%" height="30px" align="center"
               style="font-size: 20px;font-family: 仿宋">
            <caption style="font-size: 30px;font-weight: bold" align="center">学生成绩表</caption>
            <tr>
                <td>学生姓名</td>
                <td>班级名称</td>
                <td>课程名称</td>
                <td>成绩</td>
                <td>操作</td>
            </tr>
            {% for grade in gradelist %}
                <tr>
                    <td>{{ grade.studentid.studentname }}</td>
                    <td>{{ grade.studentid.clazz.clazzname }}</td>
                    <td> {{ grade.courseid.coursename }}</td>
                    <td>{{ grade.grade }}</td>
                    <td><a href="/student/delgrade/{{ grade.gradeid }}">删除</a></td>
                </tr>
            {% endfor %}
        </table>
    </form>

    <br>
    <br>
    <br>

    <div align="center" style="border:1px;font-size: 15px;">
        <a href="/student/pagegrade/1">第一页</a>
        &emsp;
        {% if gradelist.has_previous %}
            <a href="/student/pagegrade/{{ gradelist.previous_page_number }}">前一页</a>
        {% endif %}
        &emsp;
        {% for pr in page_range %}
            {% if  gradelist.number == pr %}
                <a style="color: black;background-color: skyblue;font-weight: bold"
                   href="/student/pagegrade/{{ pr }}">{{ pr }}</a>&emsp;
            {% else %}
                <a href="/student/pagegrade/{{ pr }}">{{ pr }}</a>&emsp;
            {% endif %}
        {% endfor %}
        &emsp;
        {% if  gradelist.has_next %}
            <a href="/student/pagegrade/{{ gradelist.next_page_number }}">下一页</a>
        {% endif %}
        &emsp;
        <a href="/student/pagegrade/{{ total_pages }}">最后一页</a>
    </div>
{% endblock %}
