{% extends 'base.html' %}
{% block title %}
{#    <li><a href="{% url 'index' %}" target="right" class="icon-home"> 首页</a></li>#}
    <li><a href="/student/show/1" id="a_leader_txt">基本信息</a></li>
    <li><a href="{% url 'register' %}" id="a_leader_txt">注册信息</a></li>
    <li><a href="{% url 'operate' %}" id="a_leader_txt">操作</a></li>
{% endblock title %}
{% block right %}
    <form action="{% url 'operate' %}" method="post">
    {% csrf_token %}
        <span style="margin:10px 20px 20px 300px">查询字段
            <select name="key">
                <option value="-1">-请 选 择 字 段-</option>
                                <option value="sid" selected="selected">学号</option>
                                <option value="sname">姓名</option>
                                <option value="sclazz">班级</option>
                                <option value="ssex">性别</option>
                                <option value="sage">年龄</option>

            </select>
        </span>
        <span>关系
            <select name="relation">
                    <option value="-1">-请 选 择 字 段-</option>
                            <option value=">=" >大于</option>
                            <option value="=">等于</option>
                            <option value="contain">包含</option>
                            <option value="<=">小于</option>
            </select>
        </span>
        <span>
            <input type="text" name="value" value="">
        </span>
        <span style="margin-left: 20px">
            <input type="submit" value="查询">
        </span>

        <table border="2px"
               style="border-radius: 1px;text-align: center;font-size: 20px;font-family: 仿宋;margin-top: 20px"
               align="center"
               width="45%" cellspacing="0px">
            <tr>
                <td>学号</td>
                <td>姓名</td>
                <td>班级</td>
                <td>性别</td>
                <td>年龄</td>
                <td>操作</td>
            </tr>
            {% for stu in stus %}
                <tr>
                <td>{{ stu.studentid }}</td>
                <td>{{ stu.studentname }}</td>
                <td>{{ stu.clazz.clazzname }}</td>
                <td>{{ stu.sex }}</td>
                <td>{{ stu.age }}</td>
                <td>
                    <a href="/student/del1/{{ stu.studentid }}">删除</a>
                </td>
            </tr>
            {% endfor %}

        </table>


    </form>

{% endblock right %}